body {
    font-family: Arial, Helvetica, sans-serif
}

.selectedUni {
    fill: #c6e2ff;
}

.normalUni {
    fill: slateblue;
}

.topUni {
    fill: rgba(0, 170, 255, 0.734);
}

div.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid darkslateblue;
    padding: 10px;
    text-align: center;
  }

.selectedUni.topUni{
    fill: gold;
}

.highlight{
    fill: lime
}

.clicked {
    stroke: black;
    stroke-width: 2;
}

.dot {
    stroke: black;
    stroke-width: 1;
}