/*CSS file for d3 maps*/

.map text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}

svg.map {
  border: 1.5px solid black;
}

.classCountry {
  stroke: black;
  stroke-width: 1px;
  opacity: 0.7;
}

.classCountry.highlight {
  opacity: 1;
  stroke-width: 1.5px;
}

.classCountry.key--SCT {
  fill: thistle;
}
.classCountry.key--WLS {
  fill: lightsteelblue;
}
.classCountry.key--NIR {
  fill: paleturquoise;
}
.classCountry.key--ENG {
  fill: pink;
}
.classCountry.key--IRL {
  fill: lightgrey;
}

.classTown text {
  text-anchor: start;
  /* transform: translate(6px, 4px); */
  font-size: 10px;
  fill: gray;
}

.classTown.enterSelection circle {
  stroke: black;
  stroke-width: 0.5px;
  fill: #7fcdbb;
  opacity: 0.7;
}
.classTown.updateSelection circle {
  stroke: black;
  stroke-width: 0.5px;
  fill: #2c7fb8;
  opacity: 0.7;
}
.classTown.highlight circle {
  stroke: black;
  fill: yellow;
}
.classTown.highlight text {
  fill: black;
}

.classTown.brushed circle {
  fill: saddlebrown;
}

.classTown.brushed text {
  fill: saddlebrown;
}
