body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.menu--button {
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  margin: 10px;
  border: 2px solid #494949;
  cursor: pointer;
}

.menu--button:hover {
  color: #ffffff;
  background: #3b92f6;
  border-color: #3b92f6;
}
