body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

h5 {
  font-size: small;
}

/* --------------------Pie charts------------------ */
path.classPie {
  opacity: 0.85;
}

path.classPie:hover {
  opacity: 1;
  stroke-width: 1.5px;
  stroke: black;
}

#piesDIV {
  display: flex;
}

.pies#myPie1 {
  flex: 0 0 50%;
}

.pies#myPie2 {
  flex: 1;
}

.legend {
  font-size: 11px;
}

/* --------------------Bar charts------------------ */
.barchart .bars.enterSelection {
  fill: #7fcdbb;
  opacity: 0.8;
  stroke: black;
  stroke-opacity: 0.8;
  stroke-width: 1px;
}

.barchart .bars.updateSelection {
  fill: #2c7fb8;
  opacity: 0.8;
  stroke: black;
  stroke-opacity: 0.8;
  stroke-width: 1px;
}

.barchart .bars.exitSelection {
  fill: darkgrey;
  stroke-width: 1px;
  stroke: black;
  stroke-opacity: 0.8;
}

.barchart .bars.highlight {
  fill: #edf8b1;
  stroke: black;
  stroke-width: 1px;
}

.barchart .bars.selected {
  fill: #ffee54;
  stroke: black;
  stroke-width: 1px;
}

.selector {
  position: relative;
  font-size: medium;
}

/* --------------------Scatter plot------------------ */
circle.dots {
  fill: lightcoral;
  stroke: black;
  stroke-width: 0.5px;
}

circle.dots:hover {
  fill: red;
  stroke-width: 1.5px;
}

circle.dots.selected {
  fill: lightskyblue;
}

circle.dots.highlight {
  fill: gold;
}

circle.dots.brushed {
  fill: saddlebrown;
}
.legend circle {
  stroke: black;
  stroke-width: 0.5px;
}
